<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">QRent</a>
    </div>
  </div>
</nav>

<div class='fill'>
  <div id="map"></div>
</div>


<script>
  function initMap() {
    var places = <%= raw(@places.to_json) %>;
    console.log("*************");
    console.log(places[0].longitude);
    console.log("*************");
    
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 16,
      center: {lat: 44.2305713, lng: -76.4935186}
    });
      
    for(i=0; i < places.length; i++) {
      var marker = new google.maps.Marker({
        position: {lat: places[i].latitude, lng: places[i].longitude},
        map: map
      });
    }
    
    marker.addListener('click', function {
      map.setZoom(8);
    });
  }
  
  function filter() {
    
  }
</script>